<h1>Documentation</h1>

<h2>Basics</h2>
<ul>
    <li><a href="/documentation/schema">Schema</a></li>
    <li><a href="/documentation/runtime-schema">Runtime Schema</a></li>
    <ul>
        <li><a href="/documentation/runtime-schema-delegate">Delegate</a></li>
    </ul>
</ul>

<h2>Maven Projects</h2>
<ul>
    <li><a href="/documentation/maven-plugin">Maven Plugin</a></li>
    <li><a href="/documentation/maven-bom">Maven BOM</a></li>
</ul>

<h2>Advanced Topics</h2>
<ul>
    <li><a href="/documentation/object-graphs">Object Graphs</a></li>
    <li><a href="/documentation/pipes">Pipes</a></li>
    <li><a href="/documentation/compiler-options">Compiler Options</a></li>
</ul>
